services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    env_file:
      - app/.env
    depends_on:
      - redis
    networks:
      - bitcoin-network
  
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - bitcoin-network


  redis:
    image: redis:latest
    networks:
      - bitcoin-network

networks:
  bitcoin-network:
    driver: bridge