services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "1433:1433"
      - "8080:8080"
    env_file:
      - app/.env
    depends_on:
      - redis
    networks:
      - bitcoin-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - bitcoin-network

networks:
  bitcoin-network:
    driver: bridge